<%- partial('_partial/header') %>
<section class="archive">
  <h2 class="article-title">归档</h2>
  <%if(page.tag){%>
		<p>标签：<span><%=page.tag%></span></p>
  <%}%>
  <ul class="post-archive">
    <% page.posts.each(function (post) { %>
      <li class="post-item">
        <h3><a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
        <%if(post.desc){%><p><%= post.desc %></p><%}%>
        <span class="post-date">发布于：<%= date(post.date, "YYYY-MM-DD") %></span>
      </li>
    <% }) %>
  </ul>
</section>
<%- partial('_partial/paginator') %>
