<%- partial('_partial/header') %>
<section class="post">
  <div class="post-head">
    <h2 class="article-title"><%= page.title %></h2>
    <% if (page.tags && page.tags.length){ %>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'post-tag'
      }) %>
    <% } %>
  </div>
  <%if(page.excerpt){%>
  <div class="post-meta">
    <%if(page.excerpt){%><p class="post-excerpt"><%= page.excerpt %></p><%}%>
    <%if(page.date){%><p class="post-time"><%- date(page.date, "YYYY-MM-DD") %></p><%}%>
  </div>
  <%}%>
  <div class="post-content">
    <%- page.content %>
  </div>
  <div class="post-footer">
    <% if (page.tags && page.tags.length){ %>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'post-tag'
      }) %>
    <% } %>

    <a href="#top" class="top"><%= __('Post.Top') %></a>
  </div>
</section>
